.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
ext_root/**
user_data/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/build_vscode
**/build
